input {
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid black;
}

label {
  padding: 0 6px 0 0;
}

.contact form {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 300px;
  padding: 24px;
}

.contact h2 {
  font-size: 24px;
  font-weight: 500;
}

section.contact {
  padding: 36px 24px;
}
